---
import Layout from "../layouts/Layout.astro";

import TweetFeed from "../components/TweetFeed.astro";
import GenericTweetFeed from "../components/GenericTweetFeed.astro";

import TweetForm from "../components/TweetForm.astro";
---

<Layout>
    <div class="sticky top-0 left-0 p-4 z-10">
		<!-- tweet Form! -->
        <TweetForm />
    </div>

    <!-- tweet feed -->
    <div class="p-4 max-h-[calc(100%-3.5rem)] overflow-y-auto">
        <TweetFeed server:defer>
			<GenericTweetFeed slot="fallback" />
		</TweetFeed>
		<!-- enable Server Islands mode whatever so it's dynamic -->
    </div>
</Layout>
