---
import Layout from "../layouts/Layout.astro";

import SearchForm from "../components/SearchForm.astro";
---

<Layout>
    <div class="sticky top-0 left-0 p-4 z-10">
        <!-- tweet Form! -->
        <SearchForm />
    </div>
</Layout>
