---
const links = [
    {
        section: "root",
        links: [
            {
                name: "index",
                link: "/",
            },
            {
                name: "view",
                link: "/view",
            },
            {
                name: "following",
                link: "/",
            },
        ],
    },
    {
        section: "settings",
        links: [
            {
                name: "custom-script",
                link: "/",
            },
            {
                name: "conifg-file",
                link: "/",
            },
            {
                name: "appearance",
                link: "/",
            },
            {
                name: "info",
                link: "/settings/info/",
            },
        ],
    },
];
---

<div class="basis-1/2 flex flex-col gap-4">
    <div class="select-none border border-green-200 shadow-border p-4 pt-5">
        <p class="mb-4"><strong>unkown name (set config file!)</strong></p>

        <p class="mb-4">
            welcome to twtGUI! the message above is just a placeholder message
        </p>
        <p>
            please know that this app is not finished at all. you don't have to
            complain about the buggy mess this is.
        </p>
        <p>
            <a
                href="https://github.com/taxevaiden/twtGUI?tab=readme-ov-file#twtgui"
                >read the readme for more info.</a
            >
        </p>
    </div>

    {
        links.map((section, index) => (
            <div
                class={`border border-green-200 p-4 shadow-border ${
                    index + 1 === links.length ? "flex-1" : ""
                }`}
            >
                <p>
                    <strong>{section.section}</strong>
                </p>

                <ul class="">
                    {section.links.map((link, index) => (
                        <li>
                            {index + 1 === section.links.length
                                ? "\u2514"
                                : "\u251C"}{" "}
                            <a href={link.link}>{link.name}</a>
                        </li>
                    ))}
                </ul>
            </div>
        ))
    }
</div>
