<form class="flex gap-4 flex-col min-[550px]:flex-row">
    <div class="flex flex-1 flex-col min-[350px]:flex-row items-center">
        <label
            class="mt-1 min-[350px]:mr-4 -mb-2 min-[350px]:m-0 font-bold"
            for="twt">twtxt tweet</label
        ><br />
        <input
            class="w-full min-[350px]:flex-1 bg-transparent border border-green-200 shadow-border pl-1 -mb-4 min-[350px]:m-0"
            type="text"
            id="twt"
            name="twt"
        /><br />
    </div>
    <input
        class="bg-green-200 text-black font-bold px-4 py-[0.125rem]"
        type="submit"
        value="enter"
    />
</form>