<!-- this is just a form -->
<!-- it doesn't do anything -->
<form class="flex gap-4 flex-row select-none" id="tweetForm">
    <div class="flex flex-1 flex-row items-center">
        <label
            class="mr-4 m-0 font-bold"
            for="twt">twtxt tweet</label
        ><br />
        <input
            class="w-full flex-1 bg-transparent border border-green-200 shadow-border m-0 focus:outline-none"
            type="text"
            id="twt"
            name="twt"
            placeholder="what's on your mind?"
            required
        /><br />
    </div>
    <input
        class="bg-green-200 text-black font-bold px-4 py-[0.125rem] hover:shadow-glow transition-all ease-in hover:ease-out duration-200"
        type="submit"
        value="enter"
    />
</form>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        document.body.focus();
        const tweetForm = document.getElementById("tweetForm") as HTMLFormElement;

        tweetForm.addEventListener("submit", async (event) => {
                event.preventDefault();
                const tweetBox = document.getElementById("twt") as HTMLInputElement;
                const tweet = tweetBox.value;

                const response = await fetch(
                    "http://localhost:8080/tweet.txt",
                    {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify({ tweet }),
                    }
                );

                if (response.ok) {
                    // alert("Tweet posted successfully!");
                    tweetBox.value = ""; // clear the form
                    window.location.reload();
                } else {
                    alert("failed to post tweet. create an issue to help me please!");
                }
            });
    });
</script>
