---
import { fetchTimeline, formatTimeline } from '../utils/timeline.ts';

// we fetch the timeline,
const timeline = await fetchTimeline();
const formattedTimeline = formatTimeline(timeline); // and then we format
---

<div id="container">
    <!-- take in every entry and turn it into elements :) -->
    {
        formattedTimeline.map((entry, index) => (
            <div class=`py-4 ${index === 0 ? 'border-y' : 'border-b'}  border-green-950`>
                <p>
                    <strong>{entry.user}</strong> ({entry.time}):
                </p>
                <span set:html={entry.message} />
                {/* set html directly so <a> elements and <p> elements work */}
            </div>
        ))
    }
</div>
