---
import "../styles/global.css";
import Titlebar from "../components/Titlebar.astro";
---

<!doctype html>
<html>
    <head>
        <title>twt.exe</title>
    </head>
    <body class="h-screen p-4 pt-[30px]">
        <Titlebar />
        <div class="max-w-4xl mx-auto flex flex-row gap-2 h-full border border-red-600">
            <div
                class="basis-1/2 p-4 border border-green-200 shadow-border"
            >
            </div>
            <main
                class="basis-full p-4 border border-green-200 shadow-border"
            >
                <slot />
            </main>
        </div>
    </body>
</html>
